<!-- src/app/components/user-details/user-details.component.html -->
<div *ngIf="user" class="user-details-container">
    <div class="user-details-card">
      <div class="avatar-container">
        <img [src]="user.avatar" alt="{{ user.first_name }} {{ user.last_name }}" class="avatar">
      </div>
      <div class="user-info">
        <h2 class="user-title">{{ user.first_name }} {{ user.last_name }}</h2>
        <div class="form-group">
          <label for="first-name">First Name</label>
          <input id="first-name" [(ngModel)]="user.first_name" placeholder="First Name" class="form-control">
        </div>
        <div class="form-group">
          <label for="last-name">Last Name</label>
          <input id="last-name" [(ngModel)]="user.last_name" placeholder="Last Name" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" [(ngModel)]="user.email" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
            <label for="avatar">Avatar</label>
            <input id="avatar" [(ngModel)]="user.avatar" placeholder="Avatar" class="form-control">
          </div>
      </div>
      <div class="button-container">
        <button (click)="updateUser()" class="update-button">Update</button>
      </div>
    </div>
  </div>
  