<div class="signup-container">
    <form (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm">
      <h2>Sign Up</h2>
      
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input id="firstName" name="firstName" type="text" ngModel required>
      </div>
  
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input id="lastName" name="lastName" type="text" ngModel required>
      </div>
      
      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" name="email" type="email" ngModel required>
      </div>
  
      <div class="form-group">
        <label for="password">Password:</label>
        <input id="password" name="password" type="password" ngModel required>
      </div>
      
      <button type="submit">Sign Up</button>
      
      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    </form>
  
    <div class="login-link">
      <a (click)="goToLogin()">Already have an account? Login</a>
    </div>
  </div>
  